<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Proxy to Frontend" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.anzer\.com$" />
          </conditions>
          <action type="Rewrite" url="http://localhost:3000/{R:1}" />
        </rule>

        <rule name="Proxy to CMS" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^cms\.anzer\.com$" />
          </conditions>
          <action type="Rewrite" url="http://localhost:1337/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
